html{
    background: grey;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:  120px;
    margin-top: 20px;
    padding: 60px;
    color: #242424;
    border-top: 10px solid #242424;
    background: lightblue;
    
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
    padding: 10px;
    background: lightyellow;
}

.blog-post{
    border-bottom: 1px dotted #ccc;  

}

#signup{
    margin-top: 40px;
}

#comment{
    margin-top: 10px;
}

#contact{
    background: mediumaquamarine;
    border: 10px solid #000;
    padding: 40px;
}

#about{
    background: mediumaquamarine;
    border: 10px solid #000;
    padding: 40px;
}

.mini{
    height: 400px;
    width: 700px;
}

#st{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: lightblue;
    border: 10px solid #000;
    padding: 20px;
}

.miniimg{
    float: right;
    margin: 10px;
}


#rmd{
    display: flex;
}

.rmdh2{
    display: none;
}

.aone{
    background: #999;
    padding: 20px;
    margin: 20px;
    flex: 1.5;
}

.atwo{    
    background: #999;
    padding: 20px;
    margin: 20px;
    flex: 3;
}

.athree{
    background: #999;
    padding: 20px;
    margin: 20px;
    flex: 1.5;
}

